# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

sfdapp
db/mock/migrations/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# cypress node modules
**/node_modules/
**/.yarn/
# cypress files
**/cypress/screenshots
**/cypress/videos
**/cypress/integration/examples


# semantic-ui files
semantic/

# item data generated on tests or otherwise
**/assets.go
.nvmrc